.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px 200px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  backdrop-filter: blur(3.5px);
  &__nav {
    ul {
      list-style: none;
      color: black;
      display: flex;

      align-items: center;
      gap: 30px;
      li {
        font-size: 18px;
        .nav_item {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
  &__search {
    position: absolute; // follow theo parent

    left: 0;
    right: 0;
    top: -100%;
    background-color: #ffff;
    padding: 12px 200px;
    display: flex;
    transition: all 0.7s;
    opacity: 0;
    z-index: 0;
    input {
      border: none;
      outline: none;
      flex-grow: 1; //
      font-size: 20px;
    }
    &.active {
      top: 100%;
      opacity: 1;
      z-index: 1;
    }
  }
}
